header {
    background-color: cadetblue;
    padding: 15px;
    font-size: 30px;
    color: lightgray;
  }

  .nav {
      font: bold;
  }

  body {
    background-color: lightgray;
  }

  section {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:100px;
  }


img.headshot {
    position: absolute;
    padding-top: 15px;
    /* align-items: center; */
    width:150px; 
    height:auto; 
    left: 40%;
    right: 60%
    
}

img.card1-img-top {
    width:300px; 
    height:auto;   
}



/* CONTACT */

.contactmsg {
    text-align: center;
}

.contact2 {
    font-size: 22px;
}

